<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "My Portfolio", '#', id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home",
'/' %></li>
<li><%= link_to "Background",
'/static_pages/background' %></li>
<li><%= link_to "Education", '/static_pages/education' %></li>
<li><%= link_to "Hire", '/static_pages/hire' %></li>
<li><%= link_to "Projects", '/static_pages/projects' %></li>
<li><%= link_to "Contact Me", '/static_pages/contact' %></li>
</ul>
</nav>
</div>
</header>